body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 120px;
}

.aot {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
}

.header {
    position: absolute;
    top: 16px;
    left: 112px;
    right: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 64px;
    height: 64px;
}

.nav a {
    font-family: 'raleway', sans-serif;
    margin: 20px;
    top: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    filter: drop-shadow(5px 5px 5px black);
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.nav a:hover {
    transform: scale(1.15);
}

.telefonlogo {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 5px;
}

.telefon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #9F0908;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px 5px;
    transition: transform 0.3s ease-in-out;
}

.telefon:hover {
    transform: scale(1.15);
}

.uberschrift {
    font-family: 'raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    filter: drop-shadow(10px 5px 5px black);
}

.uberschrift1 {
    font-size: 96px;
    font-weight: bold;
}

.unterschrift {
    font-size: 24px;
    font-weight: normal;

}

.order-text {
    display: flex;
    justify-content: center;
    align-items: start;
    color: #9F0908;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 80px;
    padding-bottom: 64px;
}

.order-process {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}

.pick {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 56px;
    font-weight: bold;
    font-family: 'Economica', sans-serif;
    text-align: center;
}

.pick-your {
    width: 128px;
}

.pick p {
    margin: 16px;
}

.our-menu {
    background-image: url(img/3_section_our_menu/JPG/section_our_menu_bg.jpg);

}

.menu-img {
    width: 100%;
    left: 0;
    right: 0;
}

.menu-text {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 120px;
    font-family: 'raleway', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #9F0908;
}

.menu-picture1 {
    width: 352px;
    height: 352px;
    margin-left: 140px;
}

.menu1 {
    display: flex;
    align-items: center;
    gap: 80px;
}

.tonkotsu-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-heading {
    font-family: 'economica', sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin: 0 0 16px 0;
}


.dishprice {
    font-family: 'raleway', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #675E54;
}

.dishprice td:first-child {
    padding-right: 320px;
}



.menu2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 80px;
}

.menuprice2 {
    margin-right: 100px;
}

.menu-picture2 {
    width: 352px;
    height: 352px;
    margin-right: 140px;
    margin-top: 56px;
    margin-bottom: 56px;
}

.menu3 {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 120px;
}

.menu-picture3 {
    width: 352px;
    height: 352px;
    margin-left: 140px;
}

.find-div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.find-heading {
    color: #9F0908;
    font-family: 'raleway', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0;
}

.map-logo {
    width: 24px;
    height: 24px;
}

.adress-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-family: 'raleway', sans-serif;
    gap: 5px;
    margin-bottom: 64px;
}

.map {
    width: 100%;
    height: 450px;
    margin-bottom: 8px;
}

.footer {

    background-color: #0A141E;
    height: 144px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.sakura-footer {
    height: 44px;
}

.social-media {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 40%;
}
.mobile-footer-logo{
    display: none;
}

.logo-scale {
    transition: transform 0.3s ease-in-out;
}

.logo-scale:hover {
    transform: scale(1.3);
}

@media (max-width:1200px) {
    .nav a{
        margin: 10px;
    } 
    .header{
        left: 80px;
        right: 80px;
    }

    .menu-picture1 {
        width: 200px;
        height: 200px;
        margin-left: 40px;
    }

    .menu-heading {
        font-size: 50px;
    }

    .dishprice {
        font-size: 24px;
    }

    .dishprice td:first-child {
        padding-right: 150px;
    }

    .menu-picture2 {
        width: 200px;
        height: 200px;
        margin-right: 40px;
    }

    .menu-picture3 {
        width: 200px;
        height: 200px;
        margin-left: 40px;
    }
}

@media(max-width: 1000px) {
    .mobile-none {
        display: none !important;
    }


}


@media(max-width:800px) {
    .uberschrift1 {
        font-size: 52px;
    }

    .header{
        left: 24px;
        right: 24px;
    }
    .pick{
        font-size: 48px;
    }

    .order-process {
        flex-direction: column;
        margin-bottom: 0;
    }

    .order-text {
        text-align: center;
        font-size: 64px;
    }
    .menu-text{
        font-size: 64px;
    }

    .menu-heading{
        font-size: 48px;
    }
    .menu1 {
        flex-direction: column;
        gap: 40px;
    }

    .menu-picture1{
        
            margin-left: 50%;
            margin-right: 50%;
    }

    .menu2 {
        flex-direction: column-reverse;
        padding-bottom: 80px;
        align-items: center;
        justify-content: center;
        gap: 40px;

    }

    .menu-picture2 {
        margin-bottom: 8px;
        margin-right: 0px;
    }

    .menu3 {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 64px;
    }

    .menuprice2 {
        padding-left: 100px;
        padding-top: 0;
    }

    .menu-picture3{
        margin-left: 50%;
        margin-right: 50%;
    }

    .adress-text {
        font-size: 20px;
    }

    .footer-logo{
        justify-content: space-between;
        position: absolute;
        right: 9px;
        left: 9px;

    }
    .find-heading{
        font-size: 64px;
    }
}

@media(max-width: 500px) {

    .menu-text {
        font-size: 72px;
    }

    .sakura-footer {
        height: 32px;

    }

    .social-media {
        height: 30px;
        width: 30px;
    }

}

@media (max-width: 450px) {

    .menu-text{
        padding-top: 64px;
    }
    .find-div {
        text-align: center;
    }

    .find-heading {
        font-size: 54px;
    }

    .adress-text {
        font-size: 14px;
        justify-content: center;
    }
    .sakura-footer{
        display: none;
    }

    .footer-logo{
        justify-content: space-around;
        right: 0;
        left: 0;
    }
    .mobile-footer-logo{
        display: flex;
        height: 40px;
        width: 40px;
    }


}

@media(max-width: 410px) {
    .telefon {
        display: none !important;
    }

    .order-text {
        font-size: 54px;
    }

    .uberschrift1 {
        font-size: 48px;
    }

    .unterschrift {
        font-size: 20px;
    }

    .menu-text {
        text-align: center;
        font-size: 50px;
    }

    .menu-heading {
        font-size: 38px;
    }

    .dishprice {
        font-size: 22px;
    }

    .dishprice td:first-child {
        padding-right: 100px;
    }


    .find-div {
        text-align: center;
    }

    .find-heading {
        font-size: 54px;
    }

    .footer-logo {
        flex-direction: row;
        gap: 0;
    }
}